SOAP/Service References/EjemplarWSClient/WSEjemplar2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBiblioteca" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBiblioteca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WSEjemplarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumPaginas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSEjemplarModel" nillable="true" type="tns:WSEjemplarModel" />
  <xs:complexType name="ArrayOfWSEjemplarModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WSEjemplarModel" nillable="true" type="tns:WSEjemplarModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWSEjemplarModel" nillable="true" type="tns:ArrayOfWSEjemplarModel" />
</xs:schema>